.tile {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
  clear: both;
}
.tile .box {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.heroTitle {
  color: white;
  font-size: 50px;
}
.weatherTitle {
  color: white;
  font-size: 30px;
}

body,
html {
  height: 100%;
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  background-color: #cccccc;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}